$primary:   #007bff;
$secondary: #6c757d;
$success:   #28a745;
$info:      #17a2b8;
$warning:   #ffc107;
$danger:    #dc3545;
$light:     #f8f9fa;
$dark:      #343a40;
$primary-complementary: #ff7f00;
$tertiary-1: #ff5733;
$tertiary-2: #4a90e2;
$tertiary-3: #75d6e3;
$warm-accent: #ff6b6b;
$cool-accent: #6baaff;
$blue-green: #20B2AA;
$text-black: #343a40;
$text-white: rgba(white, .9);
$rounded-borders: 15px;